@model Projeto.Curso.Core.Application.Pedido.ViewModels.FornecedoresViewModel

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Apelido" class="control-label"></label>
            <input autocomplete="off" asp-for="Apelido" class="form-control limpa" readonly="readonly" />
        </div>
    </div>

    <div class="col-md-8">
        <div class="form-group">
            <label asp-for="Nome" class="control-label"></label>
            <input autocomplete="off" asp-for="Nome" class="form-control limpa" readonly="readonly" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="CpfCnpj" class="control-label"></label>
            <input autocomplete="off" asp-for="CpfCnpj" class="form-control cpfcnpj limpa" readonly="readonly" />
        </div>
    </div>

    <div class="col-md-8">
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input autocomplete="off" asp-for="Email" class="form-control limpa" readonly="readonly" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Endereco" class="control-label"></label>
            <input autocomplete="off" asp-for="Endereco" class="form-control limpa" readonly="readonly" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Bairro" class="control-label"></label>
            <input autocomplete="off" asp-for="Bairro" class="form-control limpa" readonly="readonly" />
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Cidade" class="control-label"></label>
            <input autocomplete="off" asp-for="Cidade" class="form-control limpa" readonly="readonly" />
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="UF" class="control-label"></label>
            <input autocomplete="off" asp-for="UF" class="form-control limpa" readonly="readonly" />
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="CEP" class="control-label"></label>
            <input autocomplete="off" asp-for="CEP" class="form-control limpa" readonly="readonly" />
        </div>
    </div>
</div>



