@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger animated fadeIn">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <h4><i class="glyphicon glyphicon-thumbs-down"></i> Ops! Algo deu errado, verifique:</h4>
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
}
